h1 {
  margin: 0;
}
#categories {
  background-color: #fff3ae;
}

#ingredients {
  background-color: #fff3ae;
}

#gallery {
  display: inline-block;
  padding: 15px;
  list-style: none;
  background-color: #fff3ae;
}

#counter {
  margin-bottom: 15px;
}

.wave-task {
  margin-bottom: 15px;
  background-color: #fff3ae;
  padding: 10px;
  color: #000000;
  text-shadow: 1px 1px 2px #d30606;
}

#name-input {
  display: block;
}

#validation-input {
  display: block;
  margin-bottom: 15px;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.size-control {
  margin-bottom: 25px;
  padding: 10px;
  background-color: #fff3ae;
}
